<div *ngIf="isClient; else go">
  <p>
    <strong> {{ "wellcome" | translate }} :</strong> {{ info.username }}
  </p>

  <p-dialog
    header="{{ 'dialog_title' | translate }}
"
    [(visible)]="display"
  >
    <form [formGroup]="transactionForm" class="w-100">
      <input
        formControlName="accountRecieverId"
        type="text"
        placeholder="{{ 'accountRecieverId' | translate }}"
      />

      <input
        formControlName="amount"
        type="text"
        placeholder="{{ 'amount' | translate }}"
      />

      <input
        formControlName="description"
        type="text"
        placeholder="{{ 'description' | translate }}"
      />

      <div class="row">
        <div class="col-lg-4 mt-3">
          <button
            class="btn btn-success"
            type="submit"
            (click)="addTransaction()"
          >
            {{ "done" | translate }}
          </button>
        </div>
      </div>
    </form>
  </p-dialog>
  <button
    type="button"
    class="btn btn-success"
    (click)="showDialog()"
    icon="pi pi-info-circle"
  >
    {{ "make_transaction" | translate }}
  </button>

  <p-table [value]="transactions" [tableStyle]="{ 'min-width': '30rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>{{ "transaction_sender" | translate }}</th>
        <th>{{ "transaction_reciever" | translate }}</th>
        <th>{{ "amount" | translate }}</th>
        <th>{{ "description" | translate }}</th>
        <th>{{ "status" | translate }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-transaction>
      <tr>
        <td>{{ transaction.accountSenderId }}</td>
        <td>{{ transaction.accountRecieverId }}</td>
        <td>{{ transaction.amount }}</td>
        <td>{{ transaction.description }}</td>
        <td>{{ transaction.transactionStatus }}</td>

        <button
          pButton
          pRipple
          icon="pi pi-pencil"
          class="p-button-rounded p-button-success p-mr-2"
          (click)="editTransaction(transaction)"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-trash"
          class="p-button-rounded p-button-warning"
          (click)="deleteTransaction(transaction)"
        ></button>
      </tr>
    </ng-template>
  </p-table>

  <div class="row">
    <div class="col-lg-4 mt-3">
      <button class="btn btn-success" (click)="downloadPDF()">
        {{ "download" | translate }}
      </button>
    </div>
  </div>

  <p-toast position="top-right"></p-toast>
</div>

<p-dialog
  [(visible)]="transactionDialog"
  [style]="{ width: '450px' }"
  header="{{ 'tranaction_detail' | translate }}"
  [modal]="true"
  (onHide)="hideDialog()"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="name">{{ "transaction_reciever" | translate }}</label>
      <input
        [disabled]="disableToEdit"
        type="text"
        pInputText
        id="name"
        [(ngModel)]="detectedtransaction.accountRecieverId"
        required
        autofocus
      />
    </div>
    <div class="p-field">
      <label for="name">{{ "amount" | translate }}</label>
      <input
        [disabled]="disableToEdit"
        type="text"
        pInputText
        id="name"
        [(ngModel)]="detectedtransaction.amount"
        required
        autofocus
      />
    </div>

    <div class="p-field">
      <label for="name">{{ "time" | translate }}</label>
      <input
        datetime="yyyy-MM-dd"
        [disabled]="statusForDisabledProberty"
        type="text"
        pInputText
        id="name"
        [ngModel]="detectedtransaction.time | date : 'M/d/yy, h:mm a'"
        (ngModelChange)="onChangeDate($event)"
        [ngModelOptions]="{ updateOn: 'blur' }"
        required
        autofocus
      />
    </div>

    <div class="p-field">
      <label for="name">{{ "description" | translate }}</label>
      <input
        [disabled]="disableToEdit"
        type="text"
        pInputText
        id="name"
        [(ngModel)]="detectedtransaction.description"
        required
        autofocus
      />
    </div>
    <div class="p-field">
      <label for="name">{{ "status" | translate }}</label>
      <input
        [disabled]="statusForDisabledProberty"
        type="text"
        pInputText
        id="name"
        [(ngModel)]="detectedtransaction.transactionStatus"
        required
        autofocus
      />
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveTransaction()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>

<ng-template #go>
  <div>
    <h1>404 Error</h1>
    <h1>Page Not Found</h1>
  </div>
</ng-template>
