button {

  margin: 4px 20px;
}

h1{
  margin-top: 50px;
  margin-left: 550px;

}
input{
  height: 40px;
  width: 250px;
display: inline;
margin-right: 50px;
border-radius: 6px;
padding-left: 5px;

}
